@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.register-form{
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    width: 20rem;
    height: 25rem;
    margin: auto;
}